<!DOCTYPE html>
<html lang="en">
<%-include("./partials/header")%>

<head>
    <link rel="stylesheet" href="/public/css/footer.css">
</head>

<body>
    <% if (users != undefined ) { %>
    <%- include("./partials/headerLogueado") %>
    <% } else { %>
    <%- include("./partials/headerDeslogueado") %>
    <% } %>
    <main class="general">
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts"
                    class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    <% for (let index = 0; index < posts.length; index++) {  %>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="/post/post" alt="">
                            </div>
                            <h4><a href="/name/:name"></a></h4>

                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <a href="/post/detallePost/id/<%= posts[index].id  %>">
                                <img src="<%= posts[index].img %> " alt="">
                            </a>
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6"><a href="users/detalleUsuario/<%= posts[index].userId %> ">
                                        <%= posts[index].usuario %> </a></h5>
                                <p class="uk-width-5-6"><%= posts[index].descrip %></p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>

                                <% for(i=0;i<comentarios.length; i++){ %>
                                <% if(posts[index].id == comentarios[i].postId) {%>
                                <li>
                                    <a href="/users/detalleUsuario/<%= comentarios[i].userId %> "><%= comentarios[i].usuario %>
                                    </a> </a>
                                    <p><%= comentarios[i].descrip%> </p>
                                </li>
                                <%} }%>

                                <a href="users/detalleUsuario/<%= posts[index].userId %> ">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <%}%>
                </section>

            </div>
        </div>
    </main>

</body>

<%-include("./partials/footers")%>

</html>