<!DOCTYPE html>
<html lang="en">

	<%-include("./partials/header")%>
<body>
  <% if (users != true) { %>
    <%- include("./partials/headerLogueado") %>
    <% } else { %>
      <%- include("./partials/headerDeslogueado") %>
    <% } %>
   
    <% if(resultados.length == 0) {%>
      <h1>No se encontraron resultados</h1>
    <% }%>
    <ul>
        <% for(let i = 0; i < resultados.length; i++) { %> 
  
          <li>
            <h3><a href="/users/detalleUsuario/<%= resultados[i].id_usuario %>"><%=resultados[i].creador.username %></a></h3>
            <a href="/post/detallePost/id/<%= resultados[i].id %>"><img src="<%=resultados[i].img %>" alt=""> <p><%=resultados[i].descrip %></p> </a>          
            
          </li>
  
        <% } %>
      </ul>



</body>
<%-include("./partials/footer")%>
</html>